@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --event-primary-color: var(--color-primary);
  --event-primary-foreground-color: var(--color-primary-foreground);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --radius: 0.5rem;
  --background: oklch(0.955 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.592 0.218 263.581);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.789 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(48.315% 0.19586 28.951);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.145 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --puck-font-family: "Space Grotesk", sans-serif !important;
  --tag-red-bg: #ffe5e5;
  --tag-red-text: #b30000;
  --tag-orange-bg: #fff1e0;
  --tag-orange-text: #b34700;
  --tag-yellow-bg: #fffbe0;
  --tag-yellow-text: #8c7000;
  --tag-green-bg: #e5fff1;
  --tag-green-text: #007a3d;
  --tag-teal-bg: #e0f7f7;
  --tag-teal-text: #007f80;
  --tag-blue-bg: #e0f0ff;
  --tag-blue-text: #005cb3;
  --tag-indigo-bg: #e8eaff;
  --tag-indigo-text: #4b50c9;
  --tag-purple-bg: #f3e0ff;
  --tag-purple-text: #6c00b3;
  --tag-pink-bg: #ffe0f0;
  --tag-pink-text: #b3006b;
  --tag-brown-bg: #f2e6e0;
  --tag-brown-text: #5c3d2e;
}

.dark {
  --background: oklch(0.136 0.036 259.201);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.136 0.036 259.201);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.136 0.036 259.201);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.592 0.218 263.581);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(48.315% 0.19586 28.951);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.396 0.055 259.709);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.68 0.106 259.815);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --tag-red-bg: #330000;
  --tag-red-text: #ff6666;
  --tag-orange-bg: #331a00;
  --tag-orange-text: #ff9933;
  --tag-yellow-bg: #332b00;
  --tag-yellow-text: #ffe066;
  --tag-green-bg: #002d1a;
  --tag-green-text: #66ffb2;
  --tag-teal-bg: #003333;
  --tag-teal-text: #66ffff;
  --tag-blue-bg: #001933;
  --tag-blue-text: #66aaff;
  --tag-indigo-bg: #1a1a40;
  --tag-indigo-text: #9999ff;
  --tag-purple-bg: #2b004d;
  --tag-purple-text: #d580ff;
  --tag-pink-bg: #33001a;
  --tag-pink-text: #ff66b2;
  --tag-brown-bg: #2b1a14;
  --tag-brown-text: #d2a679;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: hsl(0 0% 73%);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

/* Headers */
.ProseMirror h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;
  margin-block: 18px;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif;
}

.ProseMirror h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
  margin-block: 16px;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif;
}

.ProseMirror h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  margin-block: 15px;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif;
}

.ProseMirror h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  margin: 10px 0 5px 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif;
}

.ProseMirror h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  margin: 8px 0 4px 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif;
}

.ProseMirror h6 {
  font-size: 13px;
  font-weight: 700;
  line-height: 1.4;
  margin: 8px 0 4px 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif;
}

/* Paragraphs */
.ProseMirror p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  margin-block: 13px;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif;
}

.ProseMirror p:last-child {
  margin-bottom: 0;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

.clip-curve {
  clip-path: ellipse(60% 100% at 50% 0%);
}

.faded-edges {
  /* Chrome, Safari, Edge */
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 40%,
    black 60%,
    transparent
  );
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;

  /* Firefox */
  mask-image: linear-gradient(
    to right,
    transparent,
    black 40%,
    black 60%,
    transparent
  );
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

.image-fade {
  -webkit-mask-image: linear-gradient(to right, transparent, black 70%);
  mask-image: linear-gradient(to right, transparent, black 70%);
}

::view-transition-new(event-background),
::view-transition-old(event-background) {
  height: 100%;
  overflow: clip;
  object-fit: cover;
}

#email-root .ProseMirror {
  min-height: 1.5em;
  padding: 0 0.5ch;
  outline: none;
  z-index: 10;
  position: relative;
}

.puck-richtext-wrapper .ProseMirror {
  user-select: text !important;
  pointer-events: auto !important;
}

[data-puck-component="RichText"] * {
  user-select: text !important;
}
