name: CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: "npm"

      - name: Install dependencies
        run: npm ci --force

      - name: Check commit name
        if: github.event_name == 'pull_request'
        run: npx commitlint --from ${{ github.event.pull_request.base.sha }} --to ${{ github.event.pull_request.head.sha }} --verbose

      - name: Format check
        run: npm run format:check
        if: always()

      - name: Run tests
        run: npm test
        env:
          NEXT_PUBLIC_EVENTOWNIK_API: https://example.com/
          SESSION_SECRET: MEGATAJNYKLUCZ
          NEXT_PUBLIC_PHOTO_URL: https://example.com/
          NEXT_PUBLIC_HCAPTCHA_SITEKEY: MEGANIETAJNYKLUCZ
        if: always()

      - name: Build
        env:
          NEXT_PUBLIC_EVENTOWNIK_API: https://example.com/
          SESSION_SECRET: MEGATAJNYKLUCZ
          NEXT_PUBLIC_PHOTO_URL: https://example.com/
          NEXT_PUBLIC_HCAPTCHA_SITEKEY: MEGANIETAJNYKLUCZ
        run: npm run build
        if: always()

      - name: Install Playwright browsers
        run: npx playwright install --with-deps

      - name: Run Playwright tests
        env:
          NEXT_PUBLIC_EVENTOWNIK_API: ${{ vars.NEXT_PUBLIC_EVENTOWNIK_API }}
          SESSION_SECRET: ${{ vars.SESSION_SECRET }}
          NEXT_PUBLIC_PHOTO_URL: ${{ vars.NEXT_PUBLIC_PHOTO_URL }}
          NEXT_PUBLIC_HCAPTCHA_SITEKEY: ${{ secrets.NEXT_PUBLIC_HCAPTCHA_SITEKEY }}
        run: npx playwright test

      - name: Upload Playwright report
        uses: actions/upload-artifact@v5
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
